body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #414345, #232526);

}
                  /*Barre de navigation */


nav {
  margin: 0 20% 0 20%;
  padding: 0;
  display: flex;
  background: linear-gradient(to left, #414345, #232526);
  border-radius: 6px;
}
.logo {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  text-decoration: none;
}
.resbut {
  color: white;
  background-color: green;
  height: 30px;
  border-radius: 8px;
}

ul {
  display: flex;
  flex-wrap: wrap;
list-style: none;
align-items: center;
}


a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}
                        /* Bannière haut */
.con-titre {
  position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    background-image: url("./recettes-image.jpg");
}
.centered {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

                        /*Formulaire */

.container {
  margin: 0 17% 0 17%;
  padding: 5%;
  color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
label {
  width: 100%;
  display: block;
  margin-top: 10px;
}
input {
  width: 95%;
  height: 30px;
  outline: 0;
  border: 1px solid white;
  border-radius: 8px;
}
textarea {
  width: 50%;
  height: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  justify-content: center;
}
.droite {
  padding-left: 10px;
}

.yellow:focus {
  border: 3px solid yellow;
  outline: 0;
  border-radius: 8px;
}
.sub-res {
  text-align: center;
}

/* Footer  */

footer {
display: grid;
grid-template-columns: 50% 50%;
color: white;
}
.footer-left {
padding-right: 50%;
}
h4 {
font-size: 20px;
font-weight: bold;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-right {
  flex-direction: column;
justify-self: center;
}
